<% layout('layout/boilerplate.ejs') %>

<section class="manage-app">

  <header class="page-header">
    <div>
      <h1><%= app.name %></h1>
      <p class="muted"><%= app.description || 'No description provided.' %></p>
    </div>
  
    <div class="header-actions">
      <% if(!app.microsoftOAuth?.enabled){ %>
        <a href="/app/<%= app._id %>/microsoft-oauth" class="btn btn-secondary btn-sm">Microsoft OAuth</a>
        <% }else{ %>
          <a href="/app/<%= app._id %>/microsoft-oauth" class="btn btn-secondary btn-sm">Edit Microsoft OAuth</a>
        <% } %>
      <% if(!app.appleOAuth?.enabled){ %>
        <a href="/app/<%= app._id %>/apple-oauth" class="btn btn-secondary btn-sm">Apple OAuth</a>
        <% }else{ %>
          <a href="/app/<%= app._id %>/apple-oauth" class="btn btn-secondary btn-sm">Edit Apple OAuth</a>
        <% } %>
      <% if(!app.linkedinOAuth?.enabled){ %>
        <a href="/app/<%= app._id %>/linkedin-oauth" class="btn btn-secondary btn-sm">LinkedIn OAuth</a>
        <% }else{ %>
          <a href="/app/<%= app._id %>/linkedin-oauth" class="btn btn-secondary btn-sm">Edit LinkedIn OAuth</a>
          <% } %>

      <% if(!app.facebookOAuth.enabled){ %>
        <a href="/app/<%= app._id %>/facebook-oauth" class="btn btn-secondary btn-sm">Facebook OAuth</a>
        <% }else{ %>
          <a href="/app/<%= app._id %>/facebook-oauth" class="btn btn-secondary btn-sm">Edit Facebook OAuth</a>
          <% } %>

      <% if(!app.githubOAuth.enabled){ %>
        <a href="/app/<%= app._id %>/github-oauth" class="btn btn-secondary btn-sm">Github OAuth</a>
        <% }else{ %>
          <a href="/app/<%= app._id %>/github-oauth" class="btn btn-secondary btn-sm">Edit Github OAuth</a>
          <% } %>

      <% if(!app.googleOAuth.enabled){ %>
        <a href="/app/<%= app._id %>/google-oauth" class="btn btn-secondary btn-sm">Google OAuth</a>
        <% }else{ %>
          <a href="/app/<%= app._id %>/google-oauth" class="btn btn-secondary btn-sm">Edit Google OAuth</a>
          <% } %>

      <a href="/app/<%= app._id %>/edit" class="btn-secondary btn-sm">
        Edit App
      </a>
    </div>
  </header>
  

  <!-- App Details -->
  <section class="card">
    <h2 class="text-white">App Details</h2>

    <div class="detail-row">
      <span class="text-white">Name</span>
      <span class="text-white"><%= app.name %></span>
    </div>

    <div class="detail-row">
      <span class="text-white">Callback URL</span>
      <span class="text-white"><%= app.allowedCallbackUrls[0] %></span>
    </div>

    <div class="detail-row">
      <span class="text-white">Status</span>
      <span class="status <%= app.isActive ? 'active' : 'disabled' %>" class="text-white">
        <%= app.isActive ? 'Active' : 'Disabled' %>
      </span>
    </div>

    <div class="detail-row">
      <span class="text-white">Created</span>
      <span class="text-white"><%= app.createdAt.toDateString() %></span>
    </div>
  </section>

  <!-- API Credentials -->
  <section class="card">
    <h2 class="text-white">API Credentials</h2>

    <div class="api-box">
      <code><%= app.clientId %></code>
      <small>Client ID</small>
    </div>
    
    <div class="api-box">
      <code>••••••••••••••••</code>
      <small>Client Secret</small>
    </div>
    
    <form action="/app/<%= app._id %>/rotate-secret" method="POST">
    <input type="hidden" name="_csrf" value="<%=csrfToken %>">
      <button class="btn-secondary">Rotate Client Secret</button>
    </form>

    <p class="hint">
      Never expose your client secret in frontend code.
    </p>
  </section>

  <!-- Actions -->
  <section class="card">
    <h2 class="text-white">Actions</h2>

    <form action="/app/<%= app._id %>/toggle" method="POST" class="action-spacing">
    <input type="hidden" name="_csrf" value="<%=csrfToken %>">
      <button class="btn <%= app.isActive ? 'btn-danger' : 'btn-secondary' %> ">
        <%= app.isActive ? 'Disable App' : 'Enable App' %>
      </button>
    </form>
    

      <form
        action="/app/<%= app._id %>?_method=DELETE"
        method="POST"
        onsubmit="return confirm('Are you sure you want to delete this app?');"
      >
      <input type="hidden" name="_csrf" value="<%=csrfToken %>">
        <button class="btn-secondary">
          Delete App
        </button>
      </form>
    </div>
  </section>

  <a href="/apps" class="link-back">← Back to All Apps</a>

</section>